@model Loan

<h2>Edit Loan</h2>

<form asp-controller="Loan" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input asp-for="LoanID" type="hidden" />

    <div class="form-group">
        <label asp-for="BookID">Book</label>
        <select asp-for="BookID" asp-items="ViewBag.BookList" class="form-control">
            <option value="">---Select a Book---</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="UserID">Holder</label>
        <select asp-for="UserID" asp-items="ViewBag.UserList" class="form-control">
            <option value="">---Select a User---</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="LoanStatus">Loan Status</label>
        <select asp-for="LoanStatus" class="form-control">
            <option value="TakenOut">Taken Out</option>
            <option value="Returned">Returned</option>
            <option value="Overdue">Overdue</option>
            <option value="OnHold">On Hold</option>
        </select>
        <span asp-validation-for="LoanStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateBorrowed">Date Borrowed</label>
        <input asp-for="DateBorrowed" type="date" class="form-control" />
        <span asp-validation-for="DateBorrowed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" type="date" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    @* <div class="form-group">
        <label asp-for="DateBorrowed">Date Borrowed</label>
        <input asp-for="DateBorrowed" type="date" class="form-control" />
        <span asp-validation-for="DateBorrowed" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" type="date" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div> *@

    <div class="form-group">
        <label asp-for="LocationID">Location Name</label>
        <select asp-for="LocationID" asp-items="ViewBag.LocationList" class="form-control">
            <option value="">---Select a Location---</option>
        </select>
        <span asp-validation-for="LocationID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}